<!-- projects/auth-host-app/src/app/components/dynamic-form/dynamic-form.component.html -->

<form [formGroup]="form" (ngSubmit)="onSubmit($event)">
  <app-dynamic-input
    *ngFor="let f of config; trackBy: trackByName"
    formControlName="{{ f.name }}"
    [type]="f.type || 'text'"
    [label]="f.label"
    [placeholder]="f.placeholder"
    [errorMessages]="f.errorMessages || errorMessages"
  >
  </app-dynamic-input>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="form.invalid"
  >
    {{ submitLabel }}
  </button>
</form>
